<div class="p-5">
  <button class="btn btn-primary" (click)="addEvent()">
    Add Event
  </button>
  <p class="mt-3">
    Showing {{offset + 1}}-{{offset + limit}} records (total records: {{total}})
  </p>
  <p *ngIf="isLoading">
    Loading... Please wait
  </p>
  <table class="table table-striped table-hover" *ngIf="!isLoading">
    <tr class="text-left bg-info">
      <th>ID</th>
      <th>Date</th>
      <th>Event Name</th>
      <th>DIM/Age</th>
      <th>Description</th>
    </tr>
    <tr class="text-primary" *ngFor="let e of data; let i = index;" style="cursor: pointer;" (click)="editData(e, i)">
      <td>
        <span>{{e.eventId}}</span>
      </td>
      <td class="text-secondary">
        <span class="text-secondary">{{e.reportingDateTime * 1000 | date: 'dd/MM/yyyy hh:mm'}}</span>
      </td>
      <td>
        <span class="fas fa-{{e.constructor['getEventIconClass']()}}"></span>
        <span>{{e.constructor['getEventName']()}}</span>
      </td>
      <td>
        <span>{{e.ageInDays || e.daysInLactation}}</span>
      </td>
      <td>
        <span>{{e.description.comment}}:</span>
        <span class="text-secondary">{{' ' + e.description.value}}</span>
      </td>
    </tr>
  </table>
</div>
