<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Editing '{{eventData.constructor['getEventName']()}}' event
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(null)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="event-fields">
    <p>Event id: {{eventData.eventId}}</p>
    <p>
      <label>
        Animal ID
        <input type="text" [(ngModel)]="eventData.animalId">
      </label>
    </p>
    <p>
      <label>
        Cow ID
        <input type="number" [(ngModel)]="eventData.cowId">
      </label>
    </p>
    <p>
      <label>
        Lactation number
        <input type="number" [(ngModel)]="eventData.lactationNumber">
      </label>
    </p>
    <p>
      <label>
        Days in lactation
        <input type="number" [(ngModel)]="eventData.daysInLactation">
      </label>
    </p>
    <p>
      <label>
        Age (days)
        <input type="number" [(ngModel)]="eventData.ageInDays">
      </label>
    </p>
    <p>
      <label>
        Start datetime
        <input type="datetime-local" [(ngModel)]="eventData.startDateTime">
      </label>
    </p>
    <p>
      <label>
        Description (key)
        <input type="text" [(ngModel)]="eventData.description.comment">
      </label>
    </p>
    <p>
      <label>
        Description (value)
        <input type="text" [(ngModel)]="eventData.description.value">
      </label>
    </p>
    <div *ngIf="isBirthEvent()">
      <label>
        Birth date calculated
        <input type="checkbox" [(ngModel)]="eventData.birthDateCalculated">
      </label>
    </div>
    <div *ngIf="isBreedingEvent()">
      <p>
        <label>
          Breeding number
          <input type="number" [(ngModel)]="eventData.breedingNumber">
        </label>
      </p>
      <p>
        <label>
          Is out of breeding window
          <input type="checkbox" [(ngModel)]="eventData.isOutOfBreedingWindow">
        </label>
      </p>
      <p>
        <label>
          Interval
          <input type="number" [(ngModel)]="eventData.interval">
        </label>
      </p>
    </div>
    <div *ngIf="isCalvingEvent()">
      <p>
        <label>
          Destination group
          <input type="text" [(ngModel)]="eventData.destinationGroup">
        </label>
      </p>
      <p>
        <label>
          Destination group name
          <input type="text" [(ngModel)]="eventData.destinationGroupName">
        </label>
      </p>
      <p>
        <label>
          Days in pregnancy
          <input type="number" [(ngModel)]="eventData.daysInPregnancy">
        </label>
      </p>
      <p>
        <label>
          Old lactation number
          <input type="number" [(ngModel)]="eventData.oldLactationNumber">
        </label>
      </p>
      <p>
        <label>
          Newborns
          <input type="number" [(ngModel)]="eventData.newborns">
        </label>
      </p>
    </div>
    <div *ngIf="isChangeGroupEvent()">
      <p>
        <label>
          New group ID
          <input type="number" [(ngModel)]="eventData.newGroupId">
        </label>
      </p>
      <p>
        <label>
          New group name
          <input type="text" [(ngModel)]="eventData.newGroupName">
        </label>
      </p>
      <p>
        <label>
          Current group ID
          <input type="number" [(ngModel)]="eventData.currentGroupId">
        </label>
      </p>
      <p>
        <label>
          Current group name
          <input type="text" [(ngModel)]="eventData.currentGroupName">
        </label>
      </p>
    </div>
    <div *ngIf="isDistressEvent()">
      <p>
        <label>
          Alert type
          <input type="text" [(ngModel)]="eventData.alertType">
        </label>
      </p>
      <p>
        <label>
          Duration
          <input type="number" [(ngModel)]="eventData.duration">
        </label>
      </p>
      <p>
        <label>
          Original start datetime
          <input type="number" [(ngModel)]="eventData.originalStartDateTime">
        </label>
      </p>
      <p>
        <label>
          End datetime
          <input type="number" [(ngModel)]="eventData.endDateTime">
        </label>
      </p>
      <p>
        <label>
          Days in pregnancy
          <input type="number" [(ngModel)]="eventData.daysInPregnancy">
        </label>
      </p>
    </div>
    <div *ngIf="isDryOffEvent()">
      <p>
        <label>
          Destination group
          <input type="number" [(ngModel)]="eventData.destinationGroup">
        </label>
      </p>
      <p>
        <label>
          Destination group name
          <input type="text" [(ngModel)]="eventData.destinationGroupName">
        </label>
      <p>
      <label>
      Days in pregnancy
      <input type="number" [(ngModel)]="eventData.daysInPregnancy">
      </label>
      </p>
    </div>
    <div *ngIf="isHerdEntryEvent()">
      <p>
        <label>
          Destination group
          <input type="number" [(ngModel)]="eventData.destinationGroup">
        </label>
      </p>
      <p>
        <label>
          Destination group name
          <input type="text" [(ngModel)]="eventData.destinationGroupName">
        </label>
      </p>
      <p>
        <label>
          Cow entry status
          <input type="text" [(ngModel)]="eventData.cowEntryStatus">
        </label>
      </p>
    </div>
    <div *ngIf="isSystemHealthEvent()">
      <p>
        <label>
          Health index
          <input type="number" [(ngModel)]="eventData.healthIndex">
        </label>
      </p>
      <p>
        <label>
          End date
          <input type="datetime-local" [(ngModel)]="eventData.endDate">
        </label>
      </p>
      <p>
        <label>
          Min value datetime
          <input type="datetime-local" [(ngModel)]="eventData.minValueDateTime">
        </label>
      </p>
    </div>
    <div *ngIf="isSystemHeatEvent()">
      <p>
        <label>
          Heat index peak
          <input type="text" [(ngModel)]="eventData.heatIndexPeak">
        </label>
      </p>
    </div>
  </div>

  <div class="btn-group w-100">
    <button (click)="delete()" type="submit" class="btn btn-danger"
            [disabled]="!eventData.deletable">Delete</button>
    <button (click)="close()" type="submit" class="btn btn-primary">Close</button>
    <button (click)="save()" type="submit" class="btn btn-success">Save</button>
  </div>
</div>
